@very-light-gray: hsl(98, 15%, 90%);
@light-gray: hsl(98, 10%, 65%);
@gray: hsl(98, 8%, 55%);
@dark-gray: hsl(98, 4%, 40%);
@very-dark-gray: hsl(90, 1%, 35%);

@cyan: hsl(160, 25%, 60%);
@light-cyan: hsl(180, 20%, 70%);
// @blue: hsl(230, 40%, 70%);
@blue: hsl(195, 75%, 45%);
@blue-gray: hsl(185, 25%, 55%);
@light-blue-gray: hsl(195, 30%, 70%);
@dark-blue: hsl(198, 20%, 18%);
@purple-gray: hsl(280, 15%, 65%);
@purple: hsl(285, 20%, 65%);
@indigo: hsl(220, 23%, 30%);
@green: hsl(120, 18%, 45%);
// @gold: hsl(60, 37%, 75%);
@gold: hsv(55, 40%, 65%);
@light-gold: hsv(55, 20%, 85%);
@red: hsl(320, 25%, 50%);
@orange: hsl(5, 45%, 60%);
@light-orange: hsl(40, 80%, 65%);
@pink: hsl(315, 55%, 75%);
